<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="1" >
<listeners>
<listener class-name="com.MSIL.TestUtils.CustomListners"></listener>
<listener class-name="com.MSIL.TestUtils.RetryListeners"></listener>
</listeners>
  <test thread-count="5" name="API Test"> 
  <parameter name="env" value="QA"/>
     <classes>
    	<class name="TestCases.Send_OTP">
    	</class>
    	<class name="TestCases.generateToken">
    	</class>
    	<!-- <class name="TestCases.verify_vehicle_List">
    	</class> -->
    	<!-- <class name="TestCases.Customer_Registartion">
    	</class> -->
    	<!-- <class name="TestCases.Customer_Update">
    	</class>-->	
    	<!-- <class name="TestCases.Customer_Exists">
    	</class> -->
    	<!-- <class name="TestCases.Get_Customer_Details">
    	</class> -->
    	<class name="TestCases.Customer_Register_Send_Otp">
    	</class>
    	<class name="TestCases.Common_Cust_Verify_Otp">
    	</class>
    	<!-- <class name="TestCases.Customer_Register_Cognito">
    	</class> -->
    	<!-- <class name="TestCases.All_Master_Generic_API">
    	</class> -->
    	<!-- <class name="TestCases.City_Master_API_TC">
    	</class> -->
    	<class name="TestCases.Car_Model_Ranking">
    	</class>
     </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->